<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="TeamCity" value="https://teamcity.jetbrains.com/guestAuth/app/nuget/v1/FeedService.svc" />
    <add key="AppVeyor NUnit CI Feed" value="https://ci.appveyor.com/nuget/nunit" />
    <add key="AppVeyor NUnit Adapter CI Feed" value="https://ci.appveyor.com/nuget/nunit3-vs-adapter" />
  </packageSources>
</configuration>